/* Fixed width navigation - no hover effects needed */
#navigation-container {
  width: 12rem; /* 256px / w-64 */
  transition: none;
  overflow: visible;
}

/* Show all nav items by default */
.nav-item-name {
  display: inline-block;
  opacity: 1;
}

.search-input {
  display: block;
  opacity: 1;
}

.search-icon {
  display: none;
}
